a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    color: #ffffff;
    background: transparent;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.loading > div {
    opacity: 0;
    transform: translateY(20px);
}

.loading > div.entering {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

@media (min-width: 1600px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1540px !important;
    }
}

@media (min-width: 2100px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 2040px !important;
    }
}

.btn-secondary.selected,
.btn-secondary:not(:disabled):not(.disabled):active.selected,
.btn-secondary:not(:disabled):not(.disabled).active.selected,
.show > .btn-secondary.dropdown-toggle.selected,
.btn-secondary.selected:focus,
.btn-secondary.focus.selected,
.btn-secondary.selected:hover,
.btn-secondary:not(:disabled):not(.disabled):active.selected:focus,
.btn-secondary:not(:disabled):not(.disabled).active.selected:focus,
.show > .btn-secondary.dropdown-toggle.selected:focus
.btn-secondary.selected,
.btn-secondary:not(:disabled):not(.disabled).active.selected,
.show > .btn-secondary.dropdown-toggle.selected {
    color: #495057;
}

.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    background-color: transparent;
    box-shadow: none;
    border: none;
    transition: none;
}
