.modal-dialog {
    margin: 5rem auto;
}

.modal-content {
    background-color: rgba(0,0,0,0.5);
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 680px;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 1100px;
    }
}

@media (min-width: 1600px) {
    .modal-dialog {
        max-width: 1500px;
    }
}

@media (min-width: 2100px) {
    .modal-dialog {
        max-width: 2000px;
    }
}